## Fundamentals of Data Analysis - Tasks ##

**Name: James McEneaney**

***

### Task 1 - *Collatz Conjecture* ###

The Collatz conjecture is a famous unsolved problem in mathematics. The problem is to prove that if you start with any positive
integer x and repeatedly apply the function f(x) below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . . .

$f(x)$ equals $(x รท 2)$ if $x$ is even and $(3x + 1)$ otherwise.

For example, starting with the value 10, which is an even number, we divide it by 2 to get 5. Then 5 is an odd number so, we multiply by 3 and add 1 to get 16. Then we repeatedly divide by 2 to get 8, 4, 2, 1. Once we are at 1, we go back to 4 and get stuck in the repeating sequence 4, 2, 1 as we suspected.
The task below aims to verify, using Python, that the conjecture is true for the first 10,000 positive integers.

In [9]:
def f(x):
    # If x is even, divide by two. 
    if x % 2 == 0:
        return x/2
    else:
        return (3*x) + 1

In [10]:
def collatz(x):
    while x != 1:
        print(x, end = ', ')
        x = f(x)
    print(x)

In [11]:
## collatz(10000)

***

#### End of Task 1 ####

***

### Task 2 - *Penguin Dataset* ###

Give an overview of the famous penguins data set, explaining the types of variables it contains. Suggest the types of variables
that should be used to model them in Python, explaining your rationale.

Firstly I will read the 'penguins' csv file using Pandas; this allows me to see the kinds of data contained within the dataset.

In [12]:
import pandas as pd
df = pd.read_csv('C:\\Users\\James\\pands\\fund_data\\fund_data\\penguins.csv')
print(df)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]